{% extends 'base.html' %}

{% block container %}
    <!-- Page Content -->
    <div class="container" style="min-height: 80vh;">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Login
            <small>Form</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Login</li>
        </ol>
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                {% if form.errors %}
                    <p class="text-danger p-2">{{ form.errors }}</p>
                {% endif %}
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email*</label>
                            <input type="email" name="username" class="form-control" id="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Password*</label>
                            <input type="password" name="password" class="form-control" id="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary" id="login-btn" value="login">Login</button>
                </form>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock container %}

{% block extra_script %}
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                let validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}

